:root{
  --bg:#0f172a;
  --textcolor: #ffffff;
  --softbg : #1e293b;
  --softtextcolor: #ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  max-width: 100%;
  overflow-x: hidden;
}

.dark{
  --bg: #ffffff;
  --textcolor: #000000;
  --softbg : #f5f5f5;
  --softtextcolor: #000000;
}

.light{
  --bg:#0f172a;
  --textcolor: #ffffff;
  --softbg : #1e293b;
  --softtextcolor: #ffffff;
}

a{
  text-decoration: none;
  color: inherit;  
}

.container{
  min-width: 100vh;
  background-color: var(--bg);
  color: var(--textcolor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
 
  padding-left: 80px;
  padding-right: 80px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1224px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
@media screen and (max-width: 470px) {
  .wrapper {
    max-width: 0vw;
  }
  .wrapper {
    max-width: 1536px;
    margin-left: 10px; 
   
    padding-left: 10px;
  }
}

.ql-container{
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  color: var(--softtextcolor)
} 
